<div class="container" id="game">
	<div class="row align-items-center">
		<div class="col-md-6">
			<h3 class="GameHeader">Rev Your Engines: Earn, Race, Own</h3>
			<p class="GameArticle">
				Step into the future of gaming where every race brings thrills, rewards, and true ownership. This high-octane Play-to-Earn motorcycle game isn’t just fun—it’s a lifestyle. Compete, earn tokens, and own unique NFTs. The future of gaming is here. Are you ready to race?
			</p>
		</div>
		<div class="col-md-6">
			<lottie-player src="lotties/Earn.json" background="transparent" speed="1" style="margin:auto;" loop autoplay></lottie-player>
		</div>
		<div class="col-md-6">
			<img src="images/GameBG.jpg" alt="Racing Game" class="img-fluid" />
		</div>
		<div class="col-md-6">
			<h3 class="GameHeader">Experience the Thrill of the Race</h3>
			<p class="GameArticle">
				Dive into the world of high-speed motorcycle racing with Racen. Compete against players from around the globe, earn rewards, and showcase your unique NFT motorcycles. The future of gaming is here, and it's more exhilarating than ever. Are you ready to take on the challenge?
			</p>
		</div>
	</div>
</div>
