@page "/paper"

<PageTitle>Paper</PageTitle>

<div class="container d-flex justify-content-center">
    <div class="col-md-8">
        <h3 class="PaperHeader">Racen: The Future of Motorcycle Racing on the Blockchain</h3>

        <h4 class="PaperSubHeader">Introduction</h4>
        <p class="PaperArticle">Welcome to Racen, the ultimate motorcycle racing game built on the Solana blockchain.
            Racen
            combines the thrill
            of high-speed competition with the benefits of blockchain technology, offering players a unique gaming
            experience where they can earn rewards, own rare NFTs, and compete in various game modes. This whitepaper
            outlines the key features, mechanics, and vision of Racen.</p>

        <h4 class="PaperSubHeader">Vision</h4>
        <p class="PaperArticle">Racen aims to revolutionize the gaming industry by integrating blockchain technology,
            providing players with true
            ownership of in-game assets, and creating a competitive environment where skill and strategy are rewarded.
            Our
            goal is to build a vibrant community of motorcycle racing enthusiasts who can enjoy the game, trade NFTs,
            and
            earn rewards.</p>

        <h4 class="PaperSubHeader">Gameplay</h4>
        <h5 class="PaperSubHeader">Racing</h5>
        <p class="PaperArticle">Racen offers motorcycle races where players can compete against each other
            in
            various game modes.
            Each race is a test strategy and the performance of the player's NFT motorcycle and items.</p>

        <h5 class="PaperSubHeader">Game Modes</h5>
        <p class="PaperArticle">Racen features three distinct game modes, each emphasizing different motorcycle stats.
            Players must choose their
            motorcycles and items wisely to maximize their chances of winning in each mode.</p>
        <ul class="PaperList">
            <li class="PaperListItem"><strong>Drag:</strong> Focuses on the top speed of the motorcycle.</li>
            <li class="PaperListItem"><strong>Offroad:</strong> Emphasizes the power of the
                motorcycle.</li>
            <li class="PaperListItem"><strong>Circuit:</strong> Rewards maneuverability and handling.</li>
        </ul>

        <h5 class="PaperSubHeader">Rewards</h5>
        <p class="PaperArticle">Players earn RCN tokens as rewards for winning races. These tokens can be used to
            purchase
            new NFTs, upgrade
            existing ones, or traded on the open market.</p>

        <h4 class="PaperSubHeader">NFTs</h4>
        <h5 class="PaperSubHeader">Motorcycle NFTs</h5>
        <p class="PaperArticle">Each motorcycle in Racen is a unique NFT with its own stats, rarity, and level. The
            rarity
            of a motorcycle
            determines its base stats and potential for upgrades. More rare motorcycles are more valuable and offer
            better
            performance in races.</p>

        <h5 class="PaperSubHeader">Item NFTs</h5>
        <p class="PaperArticle">In addition to motorcycles, players can own NFT items that enhance the stats of their
            motorcycles. These items
            can be equipped to improve speed, power, or handling, giving players a strategic edge in races.</p>

        <h5 class="PaperSubHeader">Rarity and Levels</h5>
        <p class="PaperArticle">Both motorcycles and items have rarity levels ranging from Basic to Legendary. Higher
            rarity NFTs have better
            stats and more upgrade potential. Players can level up their NFTs by participating in races and earning
            experience points.</p>

            <h4 class="PaperSubHeader">Rarities:</h4>
                <ul class="PaperList">
                    <li class="PaperListItem">Basic</li>
                    <li class="PaperListItem">Common</li>
                    <li class="PaperListItem">Rare</li>
                    <li class="PaperListItem">VeryRare</li>
                    <li class="PaperListItem">Super</li>
                    <li class="PaperListItem">Hyper</li>
                    <li class="PaperListItem">Legendary</li>
                </ul>

        <h4 class="PaperSubHeader">Blockchain Integration</h4>
        <p class="PaperArticle">Racen is built on the Solana blockchain, known for its high speed and low transaction
            costs.
            This ensures a
            seamless gaming experience with fast transactions and minimal fees. All NFTs and RCN tokens are securely
            stored
            on the blockchain, providing players with true ownership of their in-game assets.</p>

        <h4 class="PaperSubHeader">Community and Economy</h4>
        <h5 class="PaperSubHeader">Marketplace</h5>
        <p class="PaperArticle">Racen features an in-game marketplace where players can buy, sell, and trade their NFTs.
            This marketplace is
            powered by RCN tokens, creating a vibrant economy where players can monetize their skills and collections.
        </p>

        <h5 class="PaperSubHeader">Whitelist Registration</h5>
        <p class="PaperArticle">To ensure a fair and balanced launch, Racen offers a whitelist registration for early
            adopters. Players can
            register for the whitelist to gain early access to the game and exclusive NFTs.</p>

        <h5 class="PaperSubHeader">Community Engagement</h5>
        <p class="PaperArticle">Racen is committed to building a strong community of players and enthusiasts. We will
            host
            regular events,
            tournaments, and community challenges to keep the game exciting and engaging. Players can join our social
            media
            channels and forums to stay updated and connect with other racers.</p>

        <h4 class="PaperSubHeader">Roadmap</h4>
        <h5 class="PaperSubHeader">Phase 1: Development and Testing</h5>
        <ul class="PaperList">
            <li class="PaperListItem">Complete game development and initial testing.</li>
            <li class="PaperListItem">Integrate blockchain technology and smart contracts.</li>
            <li class="PaperListItem">Launch whitelist registration and community building.</li>
        </ul>

        <h5 class="PaperSubHeader">Phase 2: Beta Launch</h5>
        <ul class="PaperList">
            <li class="PaperListItem">1st round of NFT drop.</li>
            <li class="PaperListItem">Launch the beta version of Racen.</li>
            <li class="PaperListItem">Conduct extensive testing and gather player feedback.</li>
            <li class="PaperListItem">Implement improvements and optimizations based on feedback.</li>
        </ul>

        <h5 class="PaperSubHeader">Phase 3: Official Launch</h5>
        <ul class="PaperList">
            <li class="PaperListItem">Launch the official version of Racen.</li>
            <li class="PaperListItem">RCN token airdrop.</li>
            <li class="PaperListItem">Open the in-game marketplace for NFT trading.</li>
            <li class="PaperListItem">Host the first official tournaments and events.</li>
        </ul>

        <h5 class="PaperSubHeader">Phase 4: Expansion and Growth</h5>
        <ul class="PaperList">
            <li class="PaperListItem">Official RCN token launch.</li>
            <li class="PaperListItem">Introduce new game modes, motorcycles, and items.</li>
            <li class="PaperListItem">Expand the community and player base.</li>
            <li class="PaperListItem">Continuously update and improve the game based on player feedback.</li>
            <li class="PaperListItem">Announce main partners.</li>
            <li class="PaperListItem">Introduce real-life utility.</li>
        </ul>

        <h4 class="PaperSubHeader">Conclusion</h4>
        <p class="PaperArticle">Racen is set to redefine the motorcycle racing genre by leveraging the power of
            blockchain
            technology. With
            unique NFTs, competitive gameplay, and a vibrant community, Racen offers an unparalleled gaming experience.
            Join
            us on this exciting journey and become a part of the future of motorcycle racing.</p>
    </div>
</div>

