<!-- TiersExplained.razor -->

<div class="container">
    <div class="row align-items-center">
        <div class="col-md-6">
            <img src="images/street.jpg" class="img-fluid TiersImage" alt="Motorcycle image">
        </div>
        <div class="col-md-6">
            <h3 class="TiersHeader">Tiers Explained</h3>
            <p class="TiersText">
                Tiers are a way to group different rarity NFTs together. Each tier groups NFTs with similar rarity.
            </p>
            <ul class="TiersList">
                <li>
                    <span class="TierName">S tier ($80):</span>
                    <ul class="TierDetails">
                        <li>Legendary 10%</li>
                        <li>Hyper 40%</li>
                        <li>Super 50%</li>
                    </ul>
                </li>
                <li>
                    <span class="TierName">A tier ($50):</span>
                    <ul class="TierDetails">
                        <li>VeryRare 40%</li>
                        <li>Rare 60%</li>
                    </ul>
                </li>
                <li>
                    <span class="TierName">B tier ($20):</span>
                    <ul class="TierDetails">
                        <li>Common 30%</li>
                        <li>Basic 70%</li>
                    </ul>
                </li>
            </ul>
            <p class="TiersText">
                After the first drop, prices will return to normal:
            </p>
            <ul>
                <li>
                    <span class="TierName">S tier ($150):</span>

                </li>
                <li>
                    <span class="TierName">A tier ($80):</span>

                </li>
                <li>
                    <span class="TierName">B tier ($50):</span>

                </li>
            </ul>
        </div>
    </div>
</div>