.page {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: transparent;
}


main {
    flex: 1;
}


@media (min-width: 641px) {
    .page {
        flex-direction: row;
    }

}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }


.scroll-bar {
    height: 100vh;
    overflow-y: scroll;
    text-align: justify;
    padding: 50px 100px;
}

    .scroll-bar::-webkit-scrollbar {
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
        border-radius: 25px;
    }

    .scroll-bar::-webkit-scrollbar-thumb {
        background: linear-gradient(#833ab4, #fd1d1d, #fcb045);
        border-radius: 25px;
    }